snippet compmain "Template for competitive programming"
#include <bits/stdc++.h>
using namespace std;

int main() {
	ios::sync_with_stdio(0);
	cin.tie(0);

	$0
	return 0;
}
endsnippet

snippet ignore
cin.ignore(std::numeric_limits<std::streamsize>::max(), '\n');
endsnippet
